---
interface Props {
  title: string;
  lang: string;
  dir?: string;
}

const { title, lang, dir = 'ltr' } = Astro.props;
---

<html lang={lang} dir={dir}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style is:global>
      :root {
        color-scheme: dark;
      }
      
      body {
        background-color: #000000;
        color: #ffffff;
        margin: 0;
        font-family: system-ui, sans-serif;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html> 